{% extends "master.twig" %}

{% block main_content %}
    <div class="inner cover">
        <p>We meet on the first Monday of every month except on bank holidays.</p>
        
        <div style="width:100%;">
            <iframe src="https://www.eventbrite.co.uk/tickets-external?eid=10834290655&ref=etckt" frameborder="0"
                    height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto"
                    allowtransparency="true"></iframe>

        </div>
    </div>
{% endblock %}
